* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*{
    outline-style: dotted;
    outline-color: red;
    outline-offset: -1px;
} /*kanter på elementer til visualisere design*/

html {


    scroll-behavior: smooth;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    color: white;

}

header h1 {
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: darkolivegreen;
    padding: 10px;


}

header a {
    color: white;
    text-decoration: none;


}

.forside {
    max-width: 5000px;
    height: 1000px;
    padding: 100px;
    text-align: center;
    border-radius: 1px;
    background: url("b2.JPG") center/cover no-repeat;
    color: white;
    font-size: 50px;

}

.box1{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
    gap: 80px;

    margin: 100px auto;
    text-align: center;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin: 0 auto;
        max-width: 70%;


    }
}

#pb {

    max-width: 50%;;


}

.forside h1 {

    margin-top: 250px;
}

.knap {
    background-color: darkolivegreen;
    color: wheat;
    list-style: none;
    border: none;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    outline: none;
    line-height: 1;
    border-radius: 20px;
}
 
#projekter{
    display: flex;
    align-items: center;
    justify-content: center;
}







#projekter {
    list-style: none;
    grid-template-columns: repeat(2,1fr);
    max-width: 2100px;
    margin: 300px auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 60px;


}
.liste_2{
    align-items: center;
    justify-content: space-between;
    display: flex;
gap: 100px;
}

#projekter ul {
    list-style: none;
}


.liste_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


body{ background-color: cornsilk;

}


.liste_2 ul{
    background-color: white;
    border-radius: inherit;
}



.some {
    background-color: white;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

#esuperliga {
    max-width: 100%;         /* billedet fylder kun sin kolonne */
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
